/* Reset some basic elements for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Body styles */
body {
    background-color: #f0f4f8;
    min-height: 100vh;
}

/* Header styles */
.header-container {
    width: 100%;
    background-color: #007bff;
    padding: 20px 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    color: #fff;
    margin: 0;
}

.header-container p {
    color: #fff;
    cursor: pointer;
    margin: 0;
}

.header-container p:hover {
    text-decoration: underline;
}

/* Main container */
.main-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Heading styles */
.main-container h2 {
    color: #333;
}

.title-and-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

/* Add button */
.add-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 20px;
}

.add-button:hover {
    background-color: #218838;
}

/* Device container */
.device-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.device-container a{
    text-decoration: none;
}

/* Device card */
.device-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 290px;
    height: 320px;
}


.container-img {
    height: 190px;
    width: 100%;
    overflow: hidden;
    position: relative; /* Asegura que el contenedor sea el referente para la imagen */
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    border-bottom: 1px solid #ddd;
}

.device-card p {
    margin: 10px 0;
    color: #333;
}

/* Delete button */
.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 50%;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Responsive design */
@media (max-width: 600px) {
    .main-container {
        padding: 15px;
    }

    .add-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .device-card {
        width: 100%;
        margin: 5px 0;
    }

    .delete-button {
        font-size: 0.9em;
        padding: 8px;
    }
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.modal-container h3 {
    margin-top: 0;
}
.modal-container label {
    display: block;
    margin: 10px 0 5px;
}
.modal-container input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal-container button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-container .image-preview{
    max-width: 100%;
    object-fit: cover;
}

.modal-container button:first-child {
    background: #4CAF50;
    color: white;
}
.modal-container button:last-child {
    background: #f44336;
    color: white;
}